@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Playfair+Display:900|Open+Sans');

body {
    background: #FFFFFF;
    background-image: url('background.jpg');
    background-size: cover;
    padding: 100px;
    font-family: 'Open Sans', sans-serif;
    color: #000;
    display: grid;
    align-items: center;
    grid-template-columns: auto;
    background-repeat: no-repeat;
}

body:after {
    content: "";
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 20px;
    color: #919191;
    font-size: 10pt;
}

h1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 2;
    color: rgb(33, 69, 77);
    font-size: 48pt;
    font-family: 'Playfair Display', sans-serif;     
}


  
